<nav class="container p-1 mb-4">
  <h2>Pesquisa de Produtos</h2>
  <nav class="navbar g-body-tertiary border rounded">
    <div class="container-fluid">
      <a class="navbar-brand"></a>
      <form class="d-flex" [formGroup]="searchForm" (ngSubmit)="searchProduct()">
        <div class="form-group row">
          <div class="col-md-10">
            <input id="name" type="text" formControlName="name" class="form-control m-2" placeholder="Busca por nome">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-10">
            <select class="form-select m-2" formControlName="category" id="category"
              (change)="onCategoryChange($event)">
              <option selected disabled>Categorias:</option>
              @for (category of categories; track category.id){
              <option [value]="category.id"> {{ category.name }} </option> }
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary m-2">Pesquisar</button>
      </form>
    </div>
  </nav>
</nav>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    @for (product of products; track $index) {
    <div class="col">
      <div class="card">
        <img class="img-thumbnail" [src]="product.imgUrl" alt="Produto">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text"> R$ {{product.price}} </p>
        </div>
        <button class="btn btn-outline-secondary btn-sm m-2" [routerLink]="['/products', product.id , 'details']">
          <i class="fa fa-eye">detalhes</i>
        </button>
      </div>
    </div>
    }
  </div>

  <!-- Paginação -->
  <div class="d-flex justify-content-center">
    <div class="pagination ">
      <!-- Previous button -->
      @if (currentPage > 0) {
      <button (click)="loadProducts(currentPage - 1)">
        &laquo; <!-- ← symbol -->
      </button>
      }
      <!-- Page numbers -->
      @for (page of pages; track page) {
      <button (click)="loadProducts(page)" [class.active]="page === currentPage">
        {{ page + 1 }}
      </button>
      }
      <!-- Next button -->
      @if (currentPage < totalPages - 1) { <button (click)="loadProducts(currentPage + 1)">
        &raquo; <!-- → symbol -->
        </button>
        }
    </div>
  </div>

</div>