.pagination {
  margin-top: 1rem;
}

.pagination button {
  margin: 0 0.25rem;
  padding: 0.5rem 0.75rem;
  border: none;
  background: #eee;
  cursor: pointer;

  border-radius: 5px;
}

.pagination button.active {
  background: #007bff;
  color: white;
  font-weight: bold;
}