<nav class="container">

  <h2>Catálogo de Produtos</h2>
  <nav class="navbar bg-body-tertiary border">
    <div class="container-fluid">
      <a class="navbar-brand"></a>
      <form class="d-flex" role="search">
        <input class="form-control m-2" type="name" placeholder="Nome do Produto" aria-label="name" />
        <select class="form-select m-2" id="inputGroupSelect01">
          <!-- @for (item of items; track $index) {} -->
          <option selected>Category</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <button class="btn btn-primary m-2" type="submit">Pesquisar</button>
        <button class="btn btn-outline-secondary m-2" type="submit">Limpar Filtro</button>
      </form>
    </div>
  </nav>
</nav>

<app-product-list></app-product-list>