<div class="container">

  <div class="row row-cols-1 row-cols-md-3 g-4">

    @for (product of products; track $index) {

    <div class="col">
      <div class="card">
        <img class="img-thumbnail" [src]="product.imgUrl" alt="Produto">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text"> R$ {{product.price}} </p>
        </div>
        <button class="btn btn-outline-secondary btn-sm m-2" [routerLink]="['/products', product.id , 'details']">
          <i class="fa fa-eye">detalhes</i>
        </button>
      </div>
    </div>
    }
  </div>

  <!-- Paginação -->
  <div class="d-flex justify-content-center">
    <div class="pagination ">
      <!-- Previous button -->
      @if (currentPage > 0) {
      <button (click)="loadProducts(currentPage - 1)">
        &laquo; <!-- ← symbol -->
      </button>
      }
      <!-- Page numbers -->
      @for (page of pages; track page) {
      <button (click)="loadProducts(page)" [class.active]="page === currentPage">
        {{ page + 1 }}
      </button>
      }
      <!-- Next button -->
      @if (currentPage < totalPages - 1) { <button (click)="loadProducts(currentPage + 1)">
        &raquo; <!-- → symbol -->
        </button>
        }
    </div>
  </div>

</div>